<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:Util="http://schemas.microsoft.com/wix/UtilExtension">
  <Product Id="*" Name="FileDeletionRecordServiceSetup" Language="1033" Version="1.0.0.0" Manufacturer="HP GIS" UpgradeCode="7ec63c63-ad12-4cc7-bf7e-138caa10380f">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    <?define INSTALLPATH = "C:\Users\hsiaoc.AUTH\source\repos\iamshiao\FileDeletionRecordService\FileDeletionRecordService\bin\Release\net6.0\"?>

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Feature Id="ProductFeature" Title="FileDeletionRecordServiceSetup" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id='svcComponents' />
    </Feature>

    <UI>
      <UIRef Id="WixUI_InstallDir" />
    </UI>
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="FileDeletionRecordService" />
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id='svcComponents' Directory="INSTALLFOLDER">
      <Component Id="svcInstallation" Guid="{05F58B9B-BC8F-44BD-A4D1-DB4B8F824111}">
        <File Id="FileDeletionRecordServiceEXE" KeyPath="yes" Source="$(var.INSTALLPATH)\FileDeletionRecordService.exe" />
        <ServiceInstall
          Id="ServiceInstaller"
          Type="ownProcess"
          Name="FileDeletionRecordService"
          DisplayName="FileDeletionRecordService"
          Description="Record file deletion for specified directory"
          Start="demand"
          Account="your-account"
          Password="your-password"
          ErrorControl="ignore"
          Vital="yes"
      />
        <ServiceControl Id="StartService" Start="install" Stop="both" Remove="uninstall" Name="FileDeletionRecordService" Wait="yes" />
      </Component>

      <Component Id="cmpEventLog" Guid="{D15001E4-24F7-407E-977B-47A1B1F0B4B4}" KeyPath="yes" >
        <Util:EventSource
         Name="FDRSvcSrc3"
         Log="FDRSvcLog3"
         EventMessageFile="%SystemRoot%\Microsoft.NET\Framework\v2.0.50727\EventLogMessages.dll" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>